:root {
  --primary: #37516c;
  --background-primary: #40c0c9;
  --background-secondary: #b2e5e9;
  --backy: #f6f5f6;
  --additional: #f2c33d;
}

@font-face {
  font-family: "title"; /*memberikan nama bebas untuk font*/
  src: url("../assets/font/FontsFree-Net-OriginTech-personal-use-1.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}
@font-face {
  font-family: "subtitle"; /*memberikan nama bebas untuk font*/
  src: url("../assets/font/Glitch\ inside.otf"); /*memanggil file font eksternalnya di folder nexa*/
}
@font-face {
  font-family: "teks"; /*memberikan nama bebas untuk font*/
  src: url("../assets/font/JTMarnie-Regular.otf"); /*memanggil file font eksternalnya di folder nexa*/
}

/* untuk bug telepon di safari */

a[href^="tel"] {
  text-decoration: inherit !important;
  color: inherit !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: white !important;
}

a[href^="tel"]::before {
  content: "S";
  color: white;
}

/* bug yang menyusahkan */

#header {
  position: static !important;
  height: 70px;
  background: #f6f5f6;
  /* background-color: transparent !important; */
}

main {
  margin-top: 10px !important;
  /* margin-bottom: 70px; */
}

.section-header {
  margin-top: 30px;
  margin-bottom: 10px !important;
}

#speakers-details {
  padding: 10px 0 !important;
  margin-bottom: 60px;
}

/* #maskot{
  animation-name: ups;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes ups{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
} */
/* 
#polygon1{
  animation: muter 2s infinite;
}

@keyframes muter {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(5px,10px);
  
  }
  100%{
    transform: translate(0);
  }
}

#polygon2{
  animation: muter3 2s infinite;
}

@keyframes muter3 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-15px);
  
  }
  100%{
    transform: translateX(0);
  }
}

#polygon3{
  animation: muter2 2s infinite;
}

@keyframes muter2 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(15px);
  
  }
  100%{
    transform: translateX(0);
  }
} */
/* rect#speaker{
  animation: muter1 5s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes muter1 {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.9);
  
  }
  100%{
    transform: scale(1);
  }
} */

.speakers img {
  margin-right: 20px;
}

.speakers p {
  font-size: 26px !important;
}

.speakerz img {
  margin-right: 20px;
}

.speakerz p {
  font-size: 20px !important;
}

.clear {
  clear: both;
}

.details .card {
  /* background: url(../assets/img/money-bg.jpg); */
  background: linear-gradient(rgba(46, 207, 247, 0.65), rgba(41, 55, 247, 0.2)),
    url(../assets/img/money-bg.jpg) fixed center center;
  padding: 20px 0;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  box-shadow: 0px 0px 30px rgb(73 78 92 / 15%);
}

.details .card h1 {
  font-size: 40px;
  font-family: "title";
  font-weight: 700;
  color: var(--additional);
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  transform: translateZ(30px);
}

/* debugging responsive  */
@media (max-width: 375px) {
  .details .card h1 {
    font-size: 36px !important;
  }
  .details .a1 i {
    display: none;
  }
}

.details .card h3 {
  color: var(--backy);
  font-size: 28px;
  font-family: "teks";
  font-weight: 700;
  text-shadow: -2px 0 var(--primary), 0 2px var(--primary), 2px 0 var(--primary),
    0 -2px var(--primary);
  transform: translateZ(10px);
}

.details a {
  float: left;
  background-color: #5381b2;
  font-family: "teks";
  font-weight: bolder;
  font-size: 20px;
}
.details a:hover {
  background-color: #efc13d;
}

.detailz a {
  background: linear-gradient(45deg, var(--additional) 0%, var(--background-primary) 100%);
  font-weight: bolder;
  width: 200px;
  height: 55px;
  font-family: "teks";
  font-size: 25px;
  color: var(--backy);
  border: 5px solid white;
  transition: ease-out 0.5s;
}

.detailz a:hover {
  font-weight: 900;
  transform: scale(1.1);
  background-color: var(--additional);
  box-shadow: inset 300px 0 0 0 linear-gradient(270deg, var(--additional) 0%, var(--background-primary) 100%);
  color: var(--backy);
  /* border: 2px solid var(--additional); */
}

.details .a1 {
  float: left;
  background-color: var(--background-primary);
  font-weight: bolder;
  font-family: "teks";
  width: 150px;
  transition: 1s;
  margin-left: 1rem;
}

.details .a1:hover {
  background-color: var(--primary);
}

@media (min-width: 767px) and (max-width: 1200px){
  .details .a1{
    margin-top: 11px;
    margin-left: 0px;
  }
}

.regist p {
  font-size: 16px !important;
}

#benefit .card {
  margin: 50px 0 0px;
  padding: 30px;
  border-width: 0px;
  border-radius: 25px;
  background-color: #5381b2;
  overflow: hidden;
  color: var(--backy);
  transition: 0.6s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#benefit .card:hover {
  transform: translateY(-20px);
}

#benefit .card::after {
  content: "";
  width: 80px;
  height: 80px;
  background: var(--additional);
  position: absolute;
  top: -30px;
  border-radius: 50%;
  right: -30px;
}

#benefit i {
  color: var(--backy);
  font-size: 44px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 0px;
  padding: 10px 0px;
}

/* #benefits{
  background-color: var(--background-secondary);
  padding: 20px 0;
} */

#benefits i {
  color: var(--primary);
  /* font-size: 24px; */
  transition: 0.5s;
  line-height: 0;
  font-size: 36px;
  float: left;
  /* color: #5846f9; */
}

/* #benefits i::before{ */
/* background: linear-gradient(45deg, var(--additional) 0%, var(--background-primary) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
/* } */

#benefits .icon-box p {
  font-size: 24px !important;
  transition: 0.5s;
  /* background: -webkit-linear-gradient(var(--background-primary),var(--additional));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  font-weight: 700;
  margin: 0px 0 15px 50px;
  color: var(--primary);
  font-family: "teks";
}

#benefits .icon-box i {
  animation-name: vibra;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes vibra {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#benefits h6 {
  color: #666 !important;
  font-size: 16px;
  /* color: #848484; */
  margin-left: 60px;
  font-family: "Montserrat", sans-serif !important;
}

#benefit h4 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 26px;
  display: block;
  width: 100%;
  text-align: left;
  float: left;
  margin: 0;
  color: var(--backy);
}

#benefit p {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  display: block;
  margin: 0;
  padding-top: 5px;
}

#speakers {
  background-color: var(--backy);
}

#speakers .text-title {
  margin: 20px 0;
  font-size: 32px;
  color: var(--primary) !important;
  font-family: "teks";
  font-weight: 700;
}

#speakers .text-body {
  margin: 20px 0 60px;
  font-size: 19px;
  color: #36506b !important;
}

#call-to-action {
  overflow: hidden;
  background: linear-gradient(rgba(46, 207, 247, 0.65), rgba(41, 55, 247, 0.2)),
    url(../assets/img/register-bg.jpg) fixed center center;
  /* background: linear-gradient(rgba(253, 82, 134, 0.5), rgba(55, 81, 108, 0.5)), url(img/3158.jpg) fixed center center; */
  background-size: cover;
  padding: 50px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "teks", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 5px;
  transition: background 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transition: 2s;
  /* animation: swush 5s infinite; */
}

@keyframes swush {
  0% {
  }
  50% {
    background-color: rgba(46, 207, 247, 0.5);
  }
  100% {
  }
}

#reg .cta-btn {
  font-family: "teks", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 5px;
  transition: background 0.5s;
  /* margin: 10px; */
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
}

#call-to-action .cta-btn:hover {
  background-color: var(--background-primary);
  border-color: var(--background-primary);
  color: #fff;
}

/* RESPONSIVE CSS MEDIA QUERIES */

@media (max-width: 480px) {
  .speakers p {
    margin-top: 15px;
    font-size: 18px !important;
  }
  .speakerz p {
    margin-top: 15px;
    font-size: 16px !important;
  }
  .details a {
    border: none;
    /* width: 95px; */
  }
}
@media (min-width: 480px) {
  .details a {
    width: 125px;
    /* height: 40px; */
    border: none;
  }
}
@media (max-width: 375px) {
  #timeline h2 {
    font-size: 18px;
  }
}

/* TIMELINE */

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  /* background-color: #ffd86e; */
  font-family: Helvetica, sans-serif;
}

#timeline {
  background-color: var(--backy);
}

#timeline .section-header {
  margin-bottom: 20px !important;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--additional);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containers {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containers::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background: linear-gradient(
    45deg,
    var(--additional) 0%,
    var(--background-primary) 100%
  );
  /* border: 4px solid var(--background-primary); */
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--background-primary);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--primary);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--background-primary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12.5px;
}

/* The actual content */
.content {
  padding: 20px 20px;
  /* background-color: var(--background-secondary); */
  border: 2px solid var(--primary);
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  position: relative;
  border-radius: 6px;
  animation: floats 6s infinite;
}

@keyframes floats {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.content h2 {
  font-weight: 700;
  font-family: "teks" !important;
  font-size: 24px;
}

.content p {
  padding: 0;
  margin: -10px 0 10px 0;
  font-family: "teks" !important;
}

.content lord-icon {
  float: left;
  margin-top: -5px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media (max-width: 992px) {
  .content lord-icon {
    display: none;
  }

  @keyframes floats {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }

    50% {
      transform: translateY(0px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }

    /* Full-width containers */
    .containers {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containers::before {
      left: 60px;
      border: medium solid var(--primary);
      border-width: 10px 10px 10px 0;
      border-color: transparent var(--primary) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
}
